.column-courses {
    float: left;
    border: 2px solid none;
    border-radius: 20px 18px;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.248);
    background-color: rgb(234, 239, 239);
    width: 28%;
    padding: 10px;
    height: 300px;
    margin-right: 2rem;
    text-align: right;

  }
  


  
  .column-courses ul{
    margin-top: 4.8rem;
    margin-left: 2rem;
    text-align: justify;
  }

   li{
    font-weight: 600;
}
  
  @media screen and (max-width :768px){
.column-courses{
    /* float: left; */
    border: 2px solid none;
    border-radius: 20px 18px;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.248);
    background-color: rgb(234, 239, 239);
    width: 90%;
    padding: 4px;
    height: 330px;
    margin-right: 4rem;
    text-align: right;
    margin-bottom: 2rem;
    position: relative;
}    
.card-title{
  width: 50px;
  margin-left: 8rem;
  margin-top: -3rem;
}


.column-courses ul{
    margin-top: 3rem;
    margin-bottom: 2rem;
    
  }



}