.intro{
    display:flex;
    height:77vh;
    width: 100%;
    margin-top: 6rem;

}

.left-side{
    display: flex;
    width:50%;
    position: relative;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

.header{
    display: flex;
    flex-direction: column;
}

.header :nth-child(1){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}

.header :nth-child(2){
    color: var(--black);
    font-size: 3rem;
    font-weight: bold;
}



.header :nth-child(3){

    color: var(--black);
    margin-top: 25px;
    font-size: 18px;
    font-weight: 100;
}

.header :nth-child(4){

    color: rgb(44, 28, 108);
    margin-top: 15px;
    font-size: 24px;
    font-weight: 100;
}

.i-button{
    width: 8rem;
    height: 2rem;
    margin-left: -19rem;

}
.i-icons{
    margin-top: 3rem;
    margin-left: -25rem;
    display: flex;
    gap: 0rem;
}

.i-icons >*{
    transform: scale(0.5);
}



.i-icons:hover{
    cursor: pointer;
}



.right-side{
    width:50%;
    display :flex;
    flex-direction: column;
    position: relative;
    margin-top: -3rem;
}

.video video{
    position: float;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: #00000066 6px 6px;
    width: 30rem;
    border: 20px solid ;
    border-left-color: #e48c33;
    border-right-color: green;
    border-top-color: white;
    border-bottom-color:white ;
    border-radius: 10px 60px;
    box-sizing: border-box;    
    
    }

    .right-side span{

        font-size: 2rem;
        font-weight: 100;
        color: var(--black);
        text-shadow: 2px 1px rgb(255, 157, 0);

    }
    .best{

    margin-left: 5rem;
    width: 70x; 
    }









/* ...........mobiles ........*/

@media screen and (max-width :768px){
    .intro{
       
        display: block;
          }
    
        }