*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  
}

:root
{
  
  --yellow: #f5c32c;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(158, 6, 252);
    --orangeCard: rgba(252, 166, 31, 0.45);
}


body {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-image: linear-gradient(  to right,  #e48c33, white,rgba(0, 128, 0, 0.796));
  color: rgb(17, 3, 3);
}


.App {
  width: 100%;
}



.App-link {
  color: #5906ff;
}




.button{
  flex: 1 1 auto;
  margin: 10px;
  padding: 11px 26px 11px 26px;  
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.679);
 box-shadow: 0px 6px 10px 1px rgb(128, 124, 120);
 border-radius: 34px;
  border: none;
  background-image: linear-gradient(  to right,   #e48c33, rgba(91, 84, 84, 0.499),rgba(0, 128, 0, 0.796)); 

}
.button:hover{
  background-position: 200px auto;
 cursor: pointer;
  border: 1px solid var(--orange);
  box-shadow: crimson;
}