.benefits {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  
  /* heading */
  .benefits-title{
    color: var(--black);
    font-size: 4rem;
    font-weight: bold;
    margin-top: -12rem;
  }
  
  .benefits-subtitle{
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }





  .imagearea img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    margin-top: 6rem;
    margin-right: 2rem;
    cursor: pointer;

  }


  @media screen and (max-width :768px){
    .benefits {
        display: block;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-top: 400%;

      }
    
      
      
      .benefits-title{
        color: var(--black);
        font-size: 2rem;
        font-weight: bold;
        margin-left: 2rem;
      }
      
      .benefits-subtitle{
        color: var(--orange);
        font-size: 2.5rem;
        font-weight: bold;
        margin-left: 7rem;

      }
    
      .imagearea img {
        width: 19rem;
        filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
        border-radius: 19px;
        margin-top: 2rem;
        margin-left: 1.5rem;
        cursor: not-allowed;
    
      }
    
    
  }